<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">System Table</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>系统名称</th>
                                <th>同步状态</th>
                                <th>手动同步</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>哔站</td>
                                <td>
                                    <label class="badge badge-success">上传成功</label>
                                </td>
                                <td>53275531</td>
                                <td>12 May 2017</td>
                            </tr>
                            <tr>
                                <td>西瓜视频</td>
                                <td>
                                    <label class="badge badge-danger">上传出错</label>
                                </td>
                                <td>53275532</td>
                                <td>15 May 2017</td>
                            </tr>
                            <tr>
                                <td>百家号</td>
                                <td>
                                    <label class="badge badge-warning">正在上传</label>
                                </td>
                                <td>53275533</td>
                                <td>14 May 2017</td>
                            </tr>
                            <tr>
                                <td>微信视频号</td>
                                <td>
                                    <label class="badge badge-secondary">未开始</label>
                                </td>
                                <td>53275534</td>
                                <td>16 May 2017</td>
                            </tr>
                            <tr>
                                <td>小红书</td>
                                <td>
                                    <label class="badge badge-secondary">未开始</label>
                                </td>
                                <td>53275535</td>
                                <td>20 May 2017</td>
                            </tr>
                            <tr>
                                <td>YouTube</td>
                                <td>
                                    <label class="badge badge-secondary">未开始</label>
                                </td>
                                <td>53275535</td>
                                <td>20 May 2017</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>


</section>
</body>
</html>
